/*Written by hand by Greta Parks*/

@media (min-width: 640px){
    .header-holder {
        min-height: 65vh;
    }
}

a {
    color: #d053b2;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #6b6b6b;
    background-color: #f8f9fa;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    color: #53d0c6;
}

h2, h3, h4, h5 {
    color: teal;
    font-family: 'Montserrat', sans-serif;
}

.boldTabs {
    font-weight: bold;
}

.boldTabs span {
    display: block;
    font-weight: normal;
    padding-left: 10%;
}

.header-holder {
    background: url(banner.jpg) center top / cover no-repeat ;
    background-color: slategray;
    min-height: 50vh;
    width: auto;
}

.img-responsive {
    width: 100%;
}

.indent {
    display: block;
    font-weight: normal;
    padding-left: 10%;
}

.logo span {
    color: #FCB2B2;
}

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    color: #53d0c6 !important;
    font-size: 2.5rem;s
}

.navbar-brand span {
    color: #FCB2B2;
}